body {
	text-align: center;
	background-image: url("https://lh3.googleusercontent.com/0W3txAe_Bnv3tl-5Ty6oV-aZejlHyYyNK_tTRNobDM9_PEy29v-7bGhvenqIUHVQIHQ");
	background-size: auto;
}
	
h1 {
	font-size: 90px;
	padding-bottom: 10px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	
#sign_in_box {
	font-size: 40px;
	text-align: center;
	background-color: white;
	height: 700px;
	width: 500px;
	margin: auto;
	border-style: outset;
}
	
#sign_in_btn {
	font-size: 20px;
	background-color: #1b78d0;
	color: white;
	height: 50px;
	width: 180px;
	border-style: outset;
}
	
#username_field {
	height: 30px;
	width: 250px;
}
	
#password_field {
	height: 30px;
	width: 250px;
}
	
#register_text {
	font-size: 20px;
	padding-top: 30px;
}